/* GENERAL Settings */
:root {
	--primary: #04c043;
	--low-prio: #dd0b0b;
	--high-prio: var(--primary);
	--light: #EEE;
	--grey: #888;
	--dark: #313154;
	--danger: #0e9ab3;

	--shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

	--low-prio-glow: 0px 0px 4px rgba(34, 196, 2, 0.75);
	--high-prio-glow: 0px 0px 4px rgba(170, 31, 13, 0.75);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'montserrat', sans-serif;
}

@media only screen and (min-width: 900px){
	.app{
		margin: auto;
		width: 60%;
		padding: 10px;
	}
}

input:not([type="radio"]):not([type="checkbox"]), button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: initial;
}

textarea{
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: initial;
	display: block;
	resize: vertical;
	width: 100%;
	font-size: 1.125rem;
	padding-top: 0.5rem;
	color: var(--dark);
	background-color: #FFF;
	border-radius: 0.5rem;
}
#texth2{
	color: var(--dark);
	font-size: 1rem;
	font-weight: 700;
	margin-top: 0.5rem;
}

body {
	background: var(--light);
	color: var(--dark);
}

section {
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding-left: 1.5rem;
	padding-right: 1.5em;
}

h3 {
	color: var(--dark);
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 0.5rem;
}

h4 {
	color: var(--grey);
	font-size: 0.875rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

/* Greetings */
.greeting .title {
	display: flex;
}

.greeting .title{
	color: var(--dark);
	font-size: 1.5rem;
	font-weight: 700;
}

/* Bugs todo input settings */
.create-todo input[type="text"] {
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: var(--dark);
	background-color: #FFF;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1.5rem;
}

/* create-todo options general settings */

.create-todo .options {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
	margin-bottom: 1.5rem;
}

.create-todo .options label {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1.5rem;
	background-color: #FFF;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	cursor: pointer;
}
.create-todo .options label div {
	color: var(--dark);
	font-size: 1.125rem;
	margin-top: 1rem;
}

.create-todo input[type="submit"] {
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: #FFF;
	background-color: var(--primary);
	border-radius: 0.5rem;
	box-shadow: var(--high-prio-glow);
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.create-todo input[type="submit"]:hover {
	opacity: 0.75;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

/* Shape of inputs and options */
.bubble {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--low-prio);
	box-shadow: var(--low-prio-glow);
}

.bubble.high-prio {
	border-color: var(--high-prio);
	box-shadow: var(--high-prio-glow);
}

.bubble::after {
	content: "";
	display: block;
	opacity: 0;
	width: 0px;
	height: 0px;
	background-color: var(--low-prio);
	box-shadow: var(--low-prio-glow);
	border-radius: 50%;
	transition: 0.2s ease-in-out;
}

.bubble.high-prio::after {
	background-color: var(--high-prio);
	box-shadow: var(--high-prio-glow);
}

input:checked ~ .bubble::after {
	width: 10px;
	height: 10px;
	opacity: 1;
}

/* todo list general settings */
.todo-list .list {
	margin: 1rem 0;
} 

.todo-list .todo-item {
	display: flex;
	align-items: center;
	background-color: #FFF;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1rem;
}

.todo-item label {
	display: block;
	margin-right: 1rem;
	cursor: pointer;
}

.todo-item .todo-content {
	flex: 1 1 0%;
}
.todo-item .todo-content .to-do {
	width: 100%;
	height: 100%;
	flex: 1 1 0%;
}

.todo-item .todo-content input {
	color: var(--dark);
	font-size: 1.125rem;
}

.todo-item .actions {
	display: flex;
	align-items: center;
}

.todo-item .actions button {
	display: block;
	padding: 0.5rem;
	border-radius: 0.25rem;
	color: #FFF;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover {
	opacity: 0.75;
}

.todo-item .actions .edit {
	background-color: var(--primary);
}

.todo-item .actions .delete {
	background-color: var(--danger);
}

.todo-item.done .todo-content input {
	text-decoration: line-through;
	color: var(--grey);
}
.todo-item.done .todo-content textarea {
	text-decoration: line-through;
	color: var(--grey);
}